<div class="">
  <div *ngIf="objMsgs">
    <div *ngFor="let msg of objMsgs.msgs">
      <a [routerLink]="['/messenger', msg._id]">subject: {{msg.subject}} Users: {{msg.users.length}}</a>  
      
      <!-- Make sure to add the right route for the actual conversation -->
      <!-- <a href="/messenger/{{this.id}}" class="">{{this.subject}}</a> <br> -->
      <!-- <ul *ngFor="let currentUser of msg.users">
        <li><a [routerLink]="['/profile', currentUser._id]">Users: {{currentUser.username}}</a></li>
      </ul> -->
    </div>
  </div>

  
  <!-- Make sure to add the right route for the msg form -->
  <!-- <a href="/messenger/create" class="">Create Message</a> -->
</div>

<div *ngIf="msgForm">
  <app-message-form></app-message-form>
</div>
<button (click)="msgFormDisplay()"> Make a Message</button>
