<app-nav-bar></app-nav-bar>

  <div *ngIf="objMsgs">
    <div *ngFor="let msg of objMsgs.msgs" class="form-container container text-center my-5">
      <a [routerLink]="['/messenger', msg._id]">subject: {{msg.subject}} Users: {{msg.users.length}}</a>   
    </div>
</div>

<div *ngIf="msgForm" class="container">
  <app-message-form></app-message-form>
</div>
<div class="container text-center my-5">
  
  <div *ngIf="!msgForm">
    <button class= "my-2 mx-auto btn btn-info btn-lg shadow" (click)="msgFormDisplay()"> Make a Message</button>
  </div>

  <div *ngIf="msgForm">
      <button class= "my-2 mx-auto btn btn-info btn-lg shadow" (click)="msgFormDisplay()"> Hide Message</button>
    </div>

</div>
