
<div *ngIf="mySessions" class="container-fluid text-center session-section w-100 mt-5">
  <div class="row">
    <div *ngFor="let currentMySession of mySessions.mySessions"  class="col my-2 text-center mx-auto ">
      <div (click)="goToSession(currentMySession._id)" class="mx-2 my-3 bg-light p-2 rounded  mx-auto sessiondiv h-100">
          <div *ngFor="let mySubject of currentMySession.subjects">
            <h1>Subject: {{mySubject.title}}</h1>
          </div>
          <h2>Host: {{currentMySession.host.username}}</h2>
          <div>
            <h2>Users Attending:</h2>
            <ul *ngFor="let myUser of currentMySession.usersAttending">
              <li>{{myUser.username}}</li>
            </ul>
          </div>
          <div  *ngIf="user._id == currentMySession.host._id">
            <h2>Requests:</h2>
            <ul *ngFor="let reqUser of currentMySession.requestsFromUsers">
              <li>{{ myReqUser.username }}</li>
            </ul>
          </div>
          <h2>Description: {{currentMySession.description}}</h2>
          <div *ngIf="currentMySession.tags">
            <h2>Tags:</h2>
            <ul *ngFor="let myTag of currentMySession.tags">
              <li>{{myTag}}</li>
            </ul>
          </div>
          <!-- Add pipe for Date -->
          <!-- <div *ngIf="currentMySession.dateOfSession"   class="list-group-item">
                  <p>Date: {{currentMySession.dateOfSession }}</p>
                </div> -->
          <!-- | Date: mm/dd/yyyy -->

          <h2>Level: {{currentMySession.level}}</h2>
    
            <!--<button class="btn btn-info btn-lg shadow my-2" (click)="joinSession(currentMySession._id)" >Join!</button>-->

    
        </div>
      </div>


      <!-- Add pipe for Date -->
      <!-- <div *ngIf="currentSession.dateOfSession"   class="list-group-item">
              <p>Date: {{currentSession.dateOfSession }}</p>
            </div> -->
      <!-- | Date: mm/dd/yyyy -->

    </div>



  </div>
  
  
  
    


<div *ngIf="!mySessions" class="container-fluid text-center session-section w-100 mt-5">
  <div class="row">
    <div *ngFor="let currentSession of sessions"  class="col my-2 text-center mx-auto ">
      <div (click)="goToSession(currentSession._id)" class="mx-2 my-3 bg-light p-2 rounded  mx-auto sessiondiv h-100">
          <div *ngFor="let subject of currentSession.subjects">
            <h1>Subject: {{subject.title}}</h1>
          </div>
          <h2>Host: {{currentSession.host.username}}</h2>
          <div>
            <h2>Users Attending:</h2>
            <ul *ngFor="let user of currentSession.usersAttending">
              <li>{{user.username}}</li>
            </ul>
          </div>
          <div  *ngIf="user._id == currentSession.host._id">
            <h2>Requests:</h2>
            <ul *ngFor="let reqUser of currentSession.requestsFromUsers">
              <li>{{ reqUser.username }}</li>
            </ul>
          </div>
          <h2>Description: {{currentSession.description}}</h2>
          <div *ngIf="currentSession.tags">
            <h2>Tags:</h2>
            <ul *ngFor="let tag of currentSession.tags">
              <li>{{tag}}</li>
            </ul>
          </div>
          <!-- Add pipe for Date -->
          <!-- <div *ngIf="currentSession.dateOfSession"   class="list-group-item">
                  <p>Date: {{currentSession.dateOfSession }}</p>
                </div> -->
          <!-- | Date: mm/dd/yyyy -->

          <h2>Level: {{currentSession.level}}</h2>
    
            <!--<button class="btn btn-info btn-lg shadow my-2" (click)="joinSession(currentSession._id)" >Join!</button>-->

    
        </div>
      </div>


      <!-- Add pipe for Date -->
      <!-- <div *ngIf="currentSession.dateOfSession"   class="list-group-item">
              <p>Date: {{currentSession.dateOfSession }}</p>
            </div> -->
      <!-- | Date: mm/dd/yyyy -->

    </div>



  </div>


