<!-- <div *ngIf="sessions" class="card" style="width: 18rem;">
<div *ngFor="let currentSession of sessions" class="card-header">
    <h4>Name:{{currentSession.title}}</h4>
    <h4>Subjects:</h4>
    <div *ngFor="let subject of currentSession.subjects">
        <h5>{{subject.title}}</h5>
    </div>
    <h4>Host: {{currentSession.host.username}}</h4>
    <h4>Users Attending:</h4>
    <div *ngFor="let user of currentSession.usersAttending">
        <h5>{{user.username}}</h5>
    </div>
    <div *ngIf="user._id == currentSession.host._id">
        <h4>Requests:</h4>
        <div *ngFor="let reqUser of currentSession.requestsFromUsers">
            <h5>{{ reqUser.username }}</h5>
        </div>        
    </div>
    
    <p>Description: {{currentSession.description}}</p>
    <div *ngIf="currentSession.tags">
        <h4>Tags:</h4>
        <ul  *ngFor="let tag of currentSession.tags">
            <li>{{tag}}</li>
        </ul>
    </div>
    Add pipe for Date
    <div *ngIf="currentSession.dateOfSession">
        <p>Date: {{currentSession.dateOfSession }}</p>        
    </div>
    Date: mm/dd/yyyy
    <h3>Level: {{currentSession.level}}</h3>
    <div *ngIf="currentSession.feedbacks">
        <h4>Feedbacks:</h4>
        <div *ngFor="let currentFeedback of currentSession.feedbacks">
            <h4>{{currentFeedback.user.username}}</h4>
            <p>{{currentFeedback.feedback}}</p>
            <h5>{{currentFeedback.date}}</h5>
        </div>
    </div>
    <div>
        <h2>Location:</h2>
        <p>{{currentSession.location.country}}</p>
        <p>{{currentSession.location.state}}</p>
        <p>{{currentSession.location.city}}</p>
        <p>{{currentSession.location.address}}</p>
        <p>{{currentSession.location.zipcode}}</p>
    </div>

</div>
</div> -->

<div *ngIf="mySessions" class="container text-center">
    <div class="row">
      <div *ngFor="let currentMySession of mySessions.mySessions"  class="col my-2">
        <div class="mx-2 my-3 bg-light p-2 rounded h-100 sessiondiv">
            <div *ngFor="let mySubject of currentMySession.subjects">
              <h4>Subject: {{mySubject.title}}</h4>
            </div>
            <h5>Host: {{currentMySession.host.username}}</h5>
            <div>
              <h5>Users Attending:</h5>
              <ul *ngFor="let myUser of currentMySession.usersAttending">
                <li>{{myUser.username}}</li>
              </ul>
            </div>
            <div  *ngIf="user._id == currentMySession.host._id">
              <h5>Requests:</h5>
              <ul *ngFor="let myReqUser of currentMySession.requestsFromUsers">
                <li>{{ myReqUser.username }}</li>
              </ul>
            </div>
            <h5>Description: {{currentMySession.description}}</h5>
            <div *ngIf="currentMySession.tags">
              <h5>Tags:</h5>
              <ul *ngFor="let myTag of currentMySession.tags">
                <li>{{myTag}}</li>
              </ul>
            </div>
            <!-- Add pipe for Date -->
            <!-- <div *ngIf="currentSession.dateOfSession"   class="list-group-item">
                    <p>Date: {{currentSession.dateOfSession }}</p>
                  </div> -->
            <!-- | Date: mm/dd/yyyy -->
            <h5>Level: {{currentMySession.level}}</h5>
           
              <a href="#" class="mt-2 mx-auto mb-2 mt-2 align-bottom">...</a>
      
              <!-- <button (click)="joinSession(currentMySession._id)" >Join!</button> -->
      
          </div>
        </div>
  
  
        <!-- Add pipe for Date -->
        <!-- <div *ngIf="currentSession.dateOfSession"   class="list-group-item">
                <p>Date: {{currentSession.dateOfSession }}</p>
              </div> -->
        <!-- | Date: mm/dd/yyyy -->
  
      </div>
  
  
  
    </div>


<div *ngIf="!mySessions" class="container text-center">
  <div class="row">
    <div *ngFor="let currentSession of sessions"  class="col my-2">
      <div class="mx-2 my-3 bg-light p-2 rounded h-100 sessiondiv">
          <div *ngFor="let subject of currentSession.subjects">
            <h4>Subject: {{subject.title}}</h4>
          </div>
          <h5>Host: {{currentSession.host.username}}</h5>
          <div>
            <h5>Users Attending:</h5>
            <ul *ngFor="let user of currentSession.usersAttending">
              <li>{{user.username}}</li>
            </ul>
          </div>
          <div  *ngIf="user._id == currentSession.host._id">
            <h5>Requests:</h5>
            <ul *ngFor="let reqUser of currentSession.requestsFromUsers">
              <li>{{ reqUser.username }}</li>
            </ul>
          </div>
          <h5>Description: {{currentSession.description}}</h5>
          <div *ngIf="currentSession.tags">
            <h5>Tags:</h5>
            <ul *ngFor="let tag of currentSession.tags">
              <li>{{tag}}</li>
            </ul>
          </div>
          <!-- Add pipe for Date -->
          <!-- <div *ngIf="currentSession.dateOfSession"   class="list-group-item">
                  <p>Date: {{currentSession.dateOfSession }}</p>
                </div> -->
          <!-- | Date: mm/dd/yyyy -->
          <h5>Level: {{currentSession.level}}</h5>
         
            <a href="#" class="mt-2 mx-auto mb-2 mt-2 align-bottom">...</a>
    
            <button (click)="joinSession(currentSession._id)" >Join!</button>
    
        </div>
      </div>


      <!-- Add pipe for Date -->
      <!-- <div *ngIf="currentSession.dateOfSession"   class="list-group-item">
              <p>Date: {{currentSession.dateOfSession }}</p>
            </div> -->
      <!-- | Date: mm/dd/yyyy -->

    </div>



  </div>


