.sessiondiv{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    max-width: 350px;    /* min-width: 200px;
    min-height: 500px;
    max-width: 200px; */
}


h1{
    font-size: 3em;
}


h2{
    font-size: 2em;
}



