<div class ="container text-center form-container">
  <h2>Create a Session!</h2>
  <form>
    <label> Title </label>
    <input type="text" [(ngModel)]="formSession.title" name="title"/>
    <br>
  
     <!-- Must have a Service to retrieve all Subjects! -->
    <label> Subjects </label>
  
    <select [(ngModel)]="formSession.subject" name="subject" >
  
      <option *ngFor="let currentSubject of subjectss" [value]="currentSubject._id">{{currentSubject.title}}</option>
  
    </select>
  
    <br> 
  
    <label> Description </label>
    <input type="text" [(ngModel)]="formSession.description" name="description"/>
    <br>
  
    <!-- Tags Add to array and show it
      Also make a schema for tags to make searching by tags easier
      and add the sessions ID and date to make it easier to search. 
      <label>  </label>
      <input type="text" [(ngModel)]="formSession." name=""/>
      <br>
     -->

      <label> Date of Session </label>
      <input type="text" [(ngModel)]="formSession.dateOfSession" name="dateOfSession"/>
      <br>
   
  
    <label> Level </label>
    <select [(ngModel)]="formSession.level" name="level">
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
    </select>
    <br>
  
    <!-- Need to keep it DRY with Countries!!! -->
    <label> Location </label>
    <br>
     
      <!-- <div *ngIf="formSignUp.location.country.value == 'United States'"> -->
        <label> State* </label>
        <!-- <input type="text" [(ngModel)]="formSignUp.location.state" name="location.state"/> -->
        <select [(ngModel)]="formSession.location.state" name="location.state" >
          <option value="" selected="selected">Select a State</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
        <br>
      <!-- </div>    -->
      <br>
      <label> City* </label>
      <input type="text" [(ngModel)]="formSession.location.city" name="location.city"/>
      <br>
      <label> Address </label>
      <input type="text" [(ngModel)]="formSession.location.address" name="location.address"/>
      <br>
      <label> Zipcode* </label>
      <input type="number" [(ngModel)]="formSession.location.zipcode" name="location.zipcode"/>
      <br>
  
      <button (click)="postSession()" class="btn btn-primary"> Post! </button>
  </form>
</div>

<!-- 

  <form>
    <label>  </label>
    <input type="text" [(ngModel)]="formSession." name=""/>
    <br>

    <label>  </label>
    <select [(ngModel)]="formSession." name="">
    <option value=""></option>
    <option value=""></option>
    </select>
    <br>

    <label>  </label>
    <input type="number" [(ngModel)]="formSession." name=""/>
    <br>

    <label> Email </label>
    <input type="email" [(ngModel)]="formSession.email" name="email"/>
    <br>

    <label> Password  </label>
    <input type="password" [(ngModel)]="formSession.password" name="password"/>
    <br>

    <button (click)="signup()"> signup </button>
  </form>

 -->