
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <a class="navbar-brand text-white" href="#">STUDYPALS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#"><span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div class="text-white">
          <form *ngIf="!user" class="form-inline my-lg-0 login-nav">
            <label class="text-white"> Username </label>
            <input type="text" [(ngModel)]="formInfo.username" name="username" class="form-control ml-1" />
            <label class="mx-1 text-white"> Password </label>
            <input type="password" [(ngModel)]="formInfo.password" name="password" class="form-control" />
            <div class="my-4 my-lg-0 mx-auto">
              <button (click)="login()" class="btn btn-outline-light mx-2 shadow"> login </button>
              <button (click)="signupFormDisplay()" class="btn btn-outline-light shadow" data-toggle="modal" data-target="#exampleModal">Signup</button>
            </div>
          </form>
        </div>
      </div>
    </nav>



<!-- Sign Up Modal -->

<div *ngIf="signupform === true">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <app-signup></app-signup>
      </div>
    </div>
  </div>
</div>

<div *ngIf="user">
  <app-dashboard></app-dashboard>
  <!-- <button (click)="logout()" class="btn btn-light mx-2">Logout</button> -->
</div>

<app-land-page></app-land-page>

<!-- <p class="error"> {{ error }} </p> -->
