<div *ngIf="!user">
  <form>
    <h2> Login or Signup </h2>
    <label> Username </label>
    <input type="text" [(ngModel)]="formInfo.username" name="username"/>
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  
    <button (click)="login()"> login </button>
  </form>
  
  <button (click)="signupFormDisplay()" >Sign UP!</button>
  
  <div *ngIf="signupform === true">
    <app-signup></app-signup>
  </div>
</div>

<div *ngIf="user">
  <app-dashboard></app-dashboard>
</div>

<p class="error"> {{ error }} </p>
