<!-- particle-section -->

<div class="container-fluid text-center particle-section ">
  <div class="align-middle">
    <h1 class="mx-auto text-white text-center" >WELCOME TO STUDYPALS</h1>
    <h2 class="mx-auto text-white text-center" id="typed">Connect-Share-Knowledge</h2>
  </div>
</div>






<!-- What is -->

<div class="container-fluid whatis-section text-center p-5 bg-white">
<div class="row">
    <div class="col-12 col-md-6 order-md-1">
        <h2>How it works?</h2>
        <p>It's a web-aplication that has the objective of connecting students who want to learn new tecnologies, so, they can communicate and even schedule study sessions.</p>
      </div>
  
    <div class="col-12 col-md-6">
        <img class="img-fluid self-center" src="https://image.ibb.co/c7PN6e/studentspng.png" alt="">
      </div>
  
  
</div>
</div>










<!-- Partner Section -->
<div class="container-fluid text-center align-middle align-content-center align-items-center logo-section  py-4">
  <h2 class=" pb-5">Our Partners</h2>
  <div class="row">
    <div class="col-12 col-md my-3"><img class="logo" src="https://tinyurl.com/yamh2knd" alt=""></div>
    <div class="col-6 col-md my-3"><img class="logo" src="https://tinyurl.com/ybqsr7fp" alt=""></div>
    <div class="col-6 col-md my-3"><img class="logo" src="https://tinyurl.com/yajllqy9" alt=""></div>
    <div class="col-6 col-md my-3"><img class="logo" src="https://tinyurl.com/y7dbqzq6" alt=""></div>
    <div class="col-6 col-md my-3"><img class="logo" src="https://tinyurl.com/y8kwpbdu" alt=""></div>
    <div class="col-12 col-md my-3"><img class="logo" src="https://tinyurl.com/ycppugfg" alt=""></div>
  </div>
</div>




<!-- Caroucel -->
<div class="container-fluid bg-white text-center p-5">
    <div class="row">
      <div class="col-md-8 col-center m-auto">
        <h2>Testimonials</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="img-box img-fluid"><img src="/src/app/land-page/images/alan.jpg" alt=""></div>
              <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
              <p class="overview"><b>Alan Cardero</b>, Web Developer/ Teacher</p>
            </div>
            <div class="item carousel-item">
              <div class="img-box img-fluid"><img src="/src/app/land-page/images/mark.jpg" alt=""></div>
              <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
              <p class="overview"><b>Mark Suckerberg</b>,Entrepeneur</p>
            </div>
            <div class="item carousel-item">
              <div class="img-box img-fluid"><img src="/src/app/land-page/images/elon.jpg" alt=""></div>
              <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
              <p class="overview"><b>Elon Musk</b>, Entrepeneur</p>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>



  <!-- Subscribe Section -->

<div class="container text-center p-3 text-white subscribe-section">
  <h3 class="mb-5">Subscribe to our news letter</h3>
  <input type="email" placeholder="Insert Your Email" class="form-control text-center">
  <button class="btn btn-light my-5 btn-lg shadow">Subscribe</button>
  
  </div>

<!-- About US -->
<div class="container-fluid bg-light pt-5 text-center px-5">
  <h2>About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales nisi eget metus fermentum convallis.
    Donec auctor arcu tortor, vitae finibus enim rutrum a. Etiam in odio ante. Fusce cursus massa eget fermentum
    laoreet. Cras maximus fermentum convallis. Ut purus ligula, facilisis eu magna in, volutpat iaculis eros.</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4  ml-auto text-left align-self-center ">
        <h3>Max Paredes</h3>
        <a href="https://www.linkedin.com/in/maximilianus/"><p>Linkedin</p></a>
        <a href="https://github.com/XamSP"><p>Github</p></a>
        <h3 >Victor Govea</h3>
        <a href="https://github.com/victoregovea"><p>Linkedin</p></a>
        <a  href="https://www.linkedin.com/in/victorgovea/"><p>Github</p></a>
      </div >
      <div class="col-8 text-right align-self-end">
        <img class="img-fluid dev-photo" src="https://image.ibb.co/jqGfsK/max_victor.png" alt="">
      </div>
    </div>
  </div>
</div>








<!-- Footer -->
<div class="footer container-fluid">

</div>
