<div class="container-flex text-center mt-5">

    <button (click)="backClicked()" class="btn btn-light mx-2 session-buttons  btn-lg shadow">Go back</button>
    <button (click)="viewSessions()"  class="btn btn-light mx-2 session-buttons btn-lg shadow">My Sessions</button>
    <button (click)="viewMsgs()"  class="btn btn-light mx-2 session-buttons  btn-lg shadow">Messages</button>
    <button (click)="viewProfile(user._id)"  class="btn btn-light mx-2 session-buttons  btn-lg shadow">Profile</button>
    <button (click)="logout()" class="btn btn-light mx-2 session-buttons  btn-lg shadow">Logout</button>

</div>