
  <div class="mx-auto p-4">
    <form>
      <h2 class="mx-auto text-center">Registration</h2>
      <div class="form-group">
        <label> Username </label>
        <br>
        <input type="text" [(ngModel)]="formSignUp.username" name="username" class="form-control" />
        <br>
        <label> First Name </label>
        <br>
        <input type="text" [(ngModel)]="formSignUp.firstName" name="firstName" class="form-control" />
        <br>
        <label> Last Name </label>
        <br>
        <input type="text" [(ngModel)]="formSignUp.lastName" name="lastName" class="form-control" />
        <br>
        <label class="mt-1">Gender</label>
        <select [(ngModel)]="formSignUp.gender" name="gender" class="form-control">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
          <option value="Unknown">Prefer not to say</option>
        </select>
        <br>
        <!-- <input type="text" [(ngModel)]="formSignUp.gender" name="gender"/> -->
        <br>
        <label> Age </label>
        <br>
        <input type="number" [(ngModel)]="formSignUp.age" name="age" class="form-control" />
        <br>
        <label> Email </label>
        <br>
        <input type="email" [(ngModel)]="formSignUp.email" name="email" class="form-control" />
        <br>
        <label> Password </label>
        <br>
        <input type="password" [(ngModel)]="formSignUp.password" name="password" class="form-control" />
        <br>
        <label> Confirm Password </label>
        <br>
        <input type="password" [(ngModel)]="formSignUp.confirmPassword" name="confirmPassword" class="form-control" />
        <br>
        <div class="modal-footer">
        <button (click)="signup()" class="btn btn-primary mx-auto">Signup</button>
        </div>
      </div>
    </form>
  </div>
