<div class="form-container container">
    <h2 class="text-center">{{thisUser.username}} Profile</h2>
    <p>First name: {{thisUser.firstName}}</p>
    <p>Last name: {{thisUser.lastName}}</p>
    <p>Role: {{thisUser.role}}</p>
    <h4>Location: </h4>
    <p> {{thisUser.location.address}}, {{thisUser.location.city}},
        {{thisUser.location.state}}, {{thisUser.location.zipcode}}, 
        {{thisUser.location.country}}.
    </p>

  <div *ngIf="thisUser._id == user._id" class="container text-center my-5">
    <div *ngIf="!showEdit">  
      <button class="btn btn-primary shadow" (click)="showIt()">Update Info!</button>
    </div>

    <div *ngIf="showEdit">  
      <button class="btn btn-primary shadow" (click)="showIt()">Hide</button>
    </div>
</div>

</div>

<div *ngIf="showEdit">
    <app-profile-edit></app-profile-edit>
</div>


